* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

@font-face {
  font-family:'SunlightScript';
  src: local('SunlightScript'), url('./font/70font/SunlightScript.ttf') format('ttf');
  src: local('SunlightScript'), url('./font/70font/SunlightScript.woff') format('woff');
  src: local('SunlightScript'), url('./font/70font/SunlightScript.woff2') format('woff2');
}
@font-face {
  font-family:'FrightNight-Outline';
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.ttf') format('ttf');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff') format('woff');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff2') format('woff2');
}

@font-face {
  font-family:'Inkslinger BB';
  src: local('Inkslinger BB'), url('../font/70font/Inkslinger BB.ttf') format('ttf');
  src: local('Inkslinger BB'), url('../font/70font/Inkslinger BB.woff') format('woff');
  src: local('Inkslinger BB'), url('../font/70font/Inkslinger BB.woff2') format('woff2');
}

@font-face {
  font-family:'Mahavishnu-Regular';
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.ttf') format('ttf');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff') format('woff');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'MissAmandaJonesExp';
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.ttf') format('ttf');
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.woff') format('woff');
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.woff2') format('woff2');
}
@font-face {
  font-family:'BrillanteSt';
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.ttf') format('ttf');
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.woff') format('woff');
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.woff2') format('woff2');
}
@font-face {
  font-family:'SansSerifShaded';
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.ttf') format('ttf');
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.woff') format('woff');
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.woff2') format('woff2');
}

@font-face {
  font-family:'Cursivestandard';
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.ttf') format('ttf');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff') format('woff');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff2') format('woff2');
}

@font-face {
  font-family:'';
  src: local(''), url('../font/70font/.ttf') format('ttf');
  src: local(''), url('../font/70font/.woff') format('woff');
  src: local(''), url('../font/70font/.woff2') format('woff2');
}
@font-face {
  font-family:'';
  src: local(''), url('../font/70font/.ttf') format('ttf');
  src: local(''), url('../font/70font/.woff') format('woff');
  src: local(''), url('../font/70font/.woff2') format('woff2');
}

body{
  background-image: url("../imgs/70/sfondo bianco.png");
  font-family:'Inkslinger BB';
  overflow-x: hidden;
  cursor: url('../imgs/70/handcursor.png') 2 2, pointer;
}

.nav-link{
  font-family: 'SunlightScript';
  font-size: 2.5vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.navbar-brand{
  font-family: 'FrightNight-Outline';
  text-transform: uppercase;
  color: #f8221f;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.navbar{
  text-align: right;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}

#comicshomepage{
  width: 100%;
}

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  z-index: 100;
  position: relative;
  padding: 5vh;
  background-image: url("../imgs/70/sfondo arancione.png");
}

.finalpart{
 font-family:'BrillanteSt';
 text-shadow: 0;
 color: #DDA061;
}

.wh{
  font-family:'SansSerifShaded';
  text-shadow: 0;
  color: #62A1C0;
}


/*bubble*/
blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
/*speech*/
blockquote.speech {
  background-image: url("../imgs/70/fumetto.png");
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
}

.container{
  z-index: 100;
  border: 1vh solid;
  margin-top: 3vh;
  background-image: url("../imgs/70/sfondo bianchissimo.png");
}

.magazine{
}
.magazineinfo {
}
#magazinetitle{
  position: relative;
  max-width: 50vh;
  padding:1vh;
  padding-bottom: 2vh;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: 1em;
  margin-top: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#magazinetitle::first-letter {
  font-size: 8vh;
}

#magazinetitle::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
.comicstrip{
  flex-direction: row;
  display: flex;
  border: 0.5vh solid;
  height: 60vh;
  background-image: url("../imgs/70/sfondo viola.png");
}
#secondstrip{
  background: none;
  border: none;
}
#magazineparagraph{
}
.issue{
  max-height: 68vh;
}
#issuetitle{
  position: relative;
  max-width: 40vh;
  margin-left: 33em;
  margin-right: -2em;
  margin-top: -1em;
  margin-bottom: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#issuetitle::first-letter {
  font-size: 8vh;
}

#issuetitle::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
#issueparagraph{
  border: 0.5vh solid black;
  background-image: url("../imgs/70/sfondo arancione.png");
  text-align: justify;
  padding: 2vh 4vh;
  margin-right: 1vh;
  font-style: italic;
}
#issueparagraph::first-letter{
  font-size: 8vh;
}

#issueparagraph::after{
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}

#issuetopolino{
  border: 0.5vh solid black;
  margin: 0 1vh 2vh;
}
#paperinosalto{
  border: 0.5vh solid black;
  margin: 0 1vh 2vh;
}
#first{
  background-image: url("../imgs/70/fumettoleft.png");
  display: flex;
  position: relative;
  top: -74vh;
  left: -28vh;
  font-size: 2vh;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

#second{
  background-image: url("../imgs/70/nuvoletta.png");
  display: flex;
  position: relative;
  width: min-content;
  top: -80vh;
  left: -50vh;
  font-size: 2vh;
  text-align: center;
  padding-left: 3%;
  padding-right: 6%;
}

#third{
  background-image: url("../imgs/70/fumettoquadrato.png");
  display: flex;
  position: relative;
  top: -57vh;
  left: 66vh;
}

#about{
  position: relative;
  max-width: 40vh;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: 1em;
  margin-top: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#about::first-letter {
  font-size: 8vh;
}

#about::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
.project{
  max-height: inherit;
}
.projectinfo{
  font-size: 2.7vh;
  position: center;
  text-align: justify;
}
#projectparagraph{
  font-family: Arial;
  padding: 10vh;
  font-size: 2vh;
  column-count: 2;
  column-gap: 5vh;
  column-rule: 0.5vh solid;
}
.documentationinfo{
  font-size: 2.7vh;
  position: center;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}
hr{
  display: none;
}
.documentation{
  padding: 1vh;
  margin: 1vh 0;
  background-image: url("../imgs/70/sfondo giallino.png");
}
#documentation{
  background-image: linear-gradient(90deg, #8500ff, #ff8100);
  font-family:'Mahavishnu-Regular';
  font-size: 15vh;
  color: #DCC65F;
  border: 0.5vh solid black;
  padding:0;
  flex-direction: row;
  background-image: url("../imgs/70/sfondo blu.png");
}
#documentationtitle{
  max-height: 55vh;
  flex-direction: row;
  display: flex;
  position: relative;
  top: 15vh;
  left: 40vh;
  text-align: center;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#quiquoqua{
  max-height: 55vh;
  flex-direction: row;
  display: flex;
  position: relative;
  left: -10vh;
  bottom: -8vh;
  margin: 0;
}
#markup{
  font-family:'MissAmandaJonesExp';
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #C00022;
  flex-direction: row;
  display: flex;
  font-family: 'MissAmandaJonesExp';
  position: relative;
  top: -35vh;
  left: 40vh;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#m{
  font-size: 30vh;
  display: inline;
  transform: rotate(-15deg);
}

#a{
  font-size: 30vh;
  display: inline;
  transform: rotate(-5deg);
}

#r{
  font-size: 30vh;
    display: inline;
}
#k{
  font-size: 40vh;
  display: inline;
  transform: rotate(+5deg);
}

#u{
  font-size: 30vh;
  display: inline;
  transform: rotate(-10deg);
}
#p{
  font-size: 25vh;
  display: inline;
  transform: rotate(+10deg);
}
#markupparagraph{
  font-family: Arial;
  padding: 10vh;
  margin-top: -45vh;
  font-size: 2vh;
  column-count: 2;
  column-gap: 5vh;
  column-rule: 0.5vh solid;
}
#markupparagraph::first-letter {
  font-size: 5vh;
  color: #C00022;
}

h3{
  text-align: center;
  padding: 2vh 0;
}
       }
h3:hover{
  cursor:pointer;
}

 #sources{
   text-align: center;
   position: relative;

 }

 #panelsource{
   margin: 10vh 1vh;
 }
 .fonts, .sources{

 }
 .layout, .colors{

 }

.designer{
   padding: 6vh 20vh 30vh 20vh;
   position: center;
   text-align: justify;
   display: inline-block;
 }


.fotodesigner{
  border: 1vh;
  max-width: 30%;
  border: solid black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;

}


footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images*/

ul.images {
  margin-bottom: 1vh;
  padding: 0;
  border: 0.5vh solid;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background-image: url("../imgs/70/sfondo celestino.png");
}

ul.middleimages{
  background-image: url("../imgs/70/sfondo rosa.png");
}

li {
  display: inline;
  max-height: 40vh;
}
.item {
    max-height: 35vh;
    margin: 3vh;
    border: solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}
.item2{
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  }


.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}


.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}
h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}



/* COLOR PALETTE fine--------------------------------------------------- */
