* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'SunlightScript';
  src: local('SunlightScript'), url('./font/70font/SunlightScript.ttf') format('ttf');
  src: local('SunlightScript'), url('./font/70font/SunlightScript.woff') format('woff');
  src: local('SunlightScript'), url('./font/70font/SunlightScript.woff2') format('woff2');
}
@font-face {
  font-family:'FrightNight-Outline';
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.ttf') format('ttf');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff') format('woff');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff2') format('woff2');
}

body{
  background-image: url("../imgs/70/sfondo bianco.png");
  font-family:'BeVietnamPro-Regular';
  overflow-x: hidden;
}

.nav-link{
  font-family: 'SunlightScript';
  font-size: 2.5vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.navbar-brand{
  font-family: 'FrightNight-Outline';
  text-transform: uppercase;
  color: #f8221f;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.navbar{
  text-align: right;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }
#comicshomepage{
border: black double 2vh;
min-width: 100%;
}

.container{
  max-width: inherit;
  max-height: inherit;
}

#specialedition{
  background-image: url("../imgs/70/sfondo petrolio.png");
  background-size: cover;
  z-index: 100;
  position: relative;
  padding: 5vh;
  margin:  10vh 0 5vh 0;
  max-width: inherit;
  max-height: inherit;
}

.question{
  	width:150px;
  	height:100px;
  	background:orange;
  	position:relative;
  	border-radius:12px;
  	-moz-transform:rotate(0);
  	-webkit-transform:rotate(0);
  	-ms-transform:rotate(0);
  	-o-transform:rotate(0);
  	transform:rotate(0);
  }
.question:before {
  		content:"";
  		width:0;
  		height:0;
  		position:absolute;
  		right:100%;
  		top:35px;
  		border-top:15px solid transparent;
  		border-right:30px solid orange;
  		border-bottom:15px solid transparent;
  	}

.issue{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-right: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
    background-image: url("../imgs/70/sfondo arancione.png");
}

.magazine{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-left: 50%;
  text-align: justify;
  background-size: cover;
  background-image: url("../imgs/70/sfondo viola.png");
  margin: 0;
}

.projectinfo{
  padding: 6vh 38vh 30vh 28vh;
  font-size: 2.7vh;
  position: center;
  background-color: #fff;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}
h2:hover{
           animation: rotate 0.5s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

 h2{
  text-align: center;
  padding: 5vh 0;
 }

 #about{
   text-transform: uppercase;
 }

.designerinfo{
   padding: 6vh 38vh 30vh 28vh;
   font-size: 2.7vh;
   position: center;
   color: #fff;
   text-align: justify;
 }
.fotodesigner{
  border: 1vh;
  border-radius: 50%;
}
footer{
  font-size: 1.8vh;
}
