* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Phorssa';
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.ttf') format('ttf');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff') format('woff');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff2') format('woff2');
}

@font-face {
  font-family: 'Romana BT';
  src: local('romana-bt-roman'), url('../font/dadafont/romana-bt-roman.ttf') format('ttf');
  src: local('RomanaBT-Roman'), url('../font/dadafont/RomanaBT-Roman.woff') format('woff');
  src: local('RomanaBT-Roman'), url('../font/dadafont/RomanaBT-Roman.woff2') format('woff2');
  }

@font-face {
  font-family:'Ultra-Regular';
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.ttf') format('ttf');
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.woff') format('woff');
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'PetitFormalScript-Regular';
  src: local('PetitFormalScript-Regular'), url('../font/dadafont/PetitFormalScript-Regular.ttf') format('ttf');
  src: local('PetitFormalScript-Regular'), url('../font/dadafont/PetitFormalScript-Regular.woff') format('woff');
  src: local('PetitFormalScript-Regular'), url('../font/dadafont/PetitFormalScript-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Righteous-Regular';
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.ttf') format('ttf');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff') format('woff');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'DK P.I.';
  src: local('DK P.I.'), url('../font/dadafont/DK P.I..ttf') format('ttf');
  src: local('DK P.I.'), url('../font/dadafont/DKPI.woff') format('woff');
  src: local('DK P.I.'), url('../font/dadafont/DKPI.woff2') format('woff2');
}

@font-face {
  font-family:'Old Town Regular';
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.ttf') format('ttf');
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.woff') format('woff');
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.woff2') format('woff2');
}
@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.woff2') format('woff2');
}

@font-face {
  font-family:'PoiretOne-Regular';
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.ttf') format('ttf');
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.woff') format('woff');
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Rallisaguen-Bold';
  src: local('Rallisaguen-Bold'), url('../font/dadafont/Rallisaguen-Bold.ttf') format('ttf');
  src: local('Rallisaguen-Bold'), url('../font/dadafont/Rallisaguen-Bold.woff') format('woff');
  src: local('Rallisaguen-Bold'), url('../font/dadafont/Rallisaguen-Bold.woff2') format('woff2');
}

@font-face {
  font-family:'Higher';
  src: local('Higher'), url('../font/dadafont/Higher.ttf') format('ttf');
  src: local('Higher'), url('../font/dadafont/Higher.woff') format('woff');
  src: local('Higher'), url('../font/dadafont/Higher.woff2') format('woff2');
}

@font-face {
  font-family:'Nordica';
  src: local('Nordica'), url('../font/dadafont/Nordica.ttf') format('ttf');
  src: local('Nordica'), url('../font/dadafont/Nordica.woff') format('woff');
  src: local('Nordica'), url('../font/dadafont/Nordica.woff2') format('woff2');
}

@font-face {
  font-family:'Sancreek-Regular';
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.ttf') format('ttf');
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.woff') format('woff');
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'UnifrakturMaguntia';
  src: local('UnifrakturMaguntia'), url('../font/dadafont/UnifrakturMaguntia-Regular.ttf') format('ttf');
  src: local('UnifrakturMaguntia'), url('../font/dadafont/UnifrakturMaguntia.woff') format('woff');
  src: local('UnifrakturMaguntia'), url('../font/dadafont/UnifrakturMaguntia.woff2') format('woff2');
}

@font-face {
  font-family:'Lobster-Regular';
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.ttf') format('ttf');
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.woff') format('woff');
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Righteous-Regular';
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.ttf') format('ttf');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff') format('woff');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'VanchromeFront-Regular';
    src:url('VanchromeFront-Regular.ttf.woff') format('woff'),
        url('VanchromeFront-Regular.ttf.svg#VanchromeFront-Regular') format('svg'),
        url('VanchromeFront-Regular.ttf.eot'),
        url('VanchromeFront-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VanchromeFront-Regular';
    src: local('VanchromeFront-Regular'), url('../font/dadafont/VanchromeFront-Regular.ttf') format('truetype');
    src: local('VanchromeFront-Regular'), url('../font/dadafont/VanchromeFront-Regular.woff') format('woff');
    src: local('VanchromeFront-Regular'), url('../font/dadafont/VanchromeFront-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'ABoxFor';
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.ttf') format('ttf');
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.woff') format('woff');
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.woff2') format('woff2');
}
@font-face {
  font-family:'DdaftT-lowercase';
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.ttf') format('ttf');
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.woff') format('woff');
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.woff2') format('woff2');
}
@font-face {
  font-family:'dDAFTt-UPPERcase';
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.ttf') format('ttf');
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.woff') format('woff');
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.woff2') format('woff2');
}
@font-face {
  font-family:'Jadefedga08';
  src: local('Jadefedga08'), url('../font/dadafont/Jadefedga08.ttf') format('ttf');
  src: local('Jadefedga08'), url('../font/dadafont/Jadefedga08.woff') format('woff');
  src: local('Jadefedga08'), url('../font/dadafont/Jadefedga08.woff2') format('woff2');
}
@font-face {
  font-family:'Jadefedgah80';
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.ttf') format('ttf');
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.woff') format('woff');
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.woff2') format('woff2');
}
@font-face {
  font-family:'Soopafresh';
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.ttf') format('ttf');
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.woff') format('woff');
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.woff2') format('woff2');
}

@font-face {
  font-family:'cRAZYsTYLE';
  src: local('cRAZYsTYLE'), url('../font/dadafont/cRAZYsTYLE.ttf') format('ttf');
  src: local('cRAZYsTYLE'), url('../font/dadafont/cRAZYsTYLE.woff') format('woff');
  src: local('cRAZYsTYLE'), url('../font/dadafont/cRAZYsTYLE.woff2') format('woff2');
}

body{
  background-image: url("../imgs/dada/Home collage/sfondodadaissue.png");
  background-size: contain;
  overflow-x: hidden;
  font-family: 'Romana BT';
  text-align: justify;
  line-height: 1;
  font-size: 14px;
  cursor: url('../imgs/dada/dadax.png') 2 2, auto;
}

button{
  color: #cb3a34;
}
#collagedada{
  width: 100%;
  margin-top: 10vh;
}

.navbar-brand{
  font-family:'Jadefedgah80';
  letter-spacing: 0;
}

.navbar{
  background-image: url("../imgs/dada/Home collage/sfondodadaissue.png");
  text-align: right;
  cursor: url('../imgs/dada/icondada.png') 2 2, pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 0.5vh solid;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  color: black;
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}

a:hover{
  opacity: 50%;
  color: #b94842;
  cursor: url('../imgs/dada/fingercursor.png') 2 2, pointer);
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}

/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-family: Arial;
  font-size: 4vh;
  font-weight: bold;
  padding: 3vh;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0;
  background-color: #842029;
  color: white;
  text-align: left;
  display: block;
}

#disclaimertitle{
  font-family: 'ABoxFor';
  padding: 2vh 3vh;
  font-size: 6vh;
  margin: 0;
}
.modal-body {
  text-align: justify;
  background-image: url("../imgs/dada/paper book.jpeg");
  font-family: Arial;
  padding: 1vh 3vh;
  margin: 0;
  line-height: 1.5;
  font-size: 2vh;
}

.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}

button{
  border: none;
  background-color: inherit;
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}

button:hover{
  opacity: 50%;
  color: #b94842;
  cursor: url('../imgs/dada/fingercursor.png') 2 2, pointer);
}
/*fine Disclaimer */

.hvr-bounce-in:hover, #hand:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  z-index: 100;
  display: block;
  position: relative;
  padding: 1vh 7vh;
  margin: 10vh auto;
  border: 2vh dotted;
}

#hurrahurra{
  height: 80%;
  position: absolute;
  right: 1vh;
  bottom:0;
}
#specialtext{
  font-size: 5vh;
}

.wh{
  font-family: 'GravitasOne';
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  text-align: center;
  font-size: 10vh;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wh:hover{
  letter-spacing: 1.5vh;
}
.wh:hover{
  animation: expand 2s linear;
}

@keyframes expand{
  0%{
      letter-spacing: normal;
  }
  50%{
      letter-spacing: 2vh;
  }
  100%{
      letter-spacing: normal;
  }
}
.finalpart{
  display: flex;
  justify-content: flex-start;
  width: min-content;
}

#abusers{
  font-family:'Righteous-Regular';
  font-size: 20vh;
  color: #cb3a35;

}
#questionmark{
  font-size: 30vh;
}

.container{
  max-height: inherit;
}
#possibleadd{
  display: none;
}

#magazineparagraph{
  z-index: 100;
  margin: 0 5vh 5vh 5vh;
  font-size: 2.2vh;
  max-height: 25%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
}
#magazineparagraph:hover{
  writing-mode: horizontal-tb;
  font-size: 2.2vh;
  line-height: 2vh;
  letter-spacing: 1.5vh;
  text-align: justify;
  margin-right: 7vh;
}

#magazinetitle{
  writing-mode: horizontal-tb;
  font-family: 'Ultra-Regular';
  font-size: 8vh;
  text-decoration: underline;
  text-align: right;
  text-transform: lowercase;
  margin-right: 10vh;
}

.issue{
  font-family:'PetitFormalScript-Regular';
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  margin: 10vh 30vh;
  border: 1vh solid  #cb3a35;
  text-align: center;
  color: #cb3a35;
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Webkit */
  -ms-transform:rotate(-10deg); /* IE */
  -o-transform:rotate(-10deg); /* Opera */
  transform:rotate(-10deg); /* future */
}

#first, #third{
  font-family: 'PoiretOne-Regular';
  font-size: 3vh;
}
.projectinfo{
  padding: 4vh 10vh 10vh 10vh;
  font-size: 2.7vh;
  position: center;
  text-align: justify;
  column-count: 2;
  column-gap: 30px;
  column-rule: 1vh solid;
}

hr{
  border: 0.5vh;
}

#projectparagraph{

}

.documentationinfo{
  padding: 5vh 20vh 0 20vh;
  font-size: 2.7vh;
  position: center;
  text-align: center;
}

#markup{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  position: absolute;
  font-family: 'Righteous-Regular';
  color: #cb3a35;
  text-transform: uppercase;
}
#markupparagraph{
  padding: 4vh 20vh 10vh 10vh;
  font-size: 2vh;
  position: center;
  text-align: justify;
  column-count: 2;
  column-gap: 30px;
  column-rule: 1vh solid;
  border-bottom: 1vh solid;
  font-family: 'DK P.I.';
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin: 5vh 0;
}

#styleparagraph{
  font-family: "Nordica";
  text-align: justify;
  float: inherit;
  padding: 2vh;
  border-left: 2vh double;
  margin: 5vh 0;
}

#documentation{
  text-align: center;
  position: right;
  font-family: 'Ultra-Regular';
  font-size: 8vh;
  text-transform: lowercase;
}
.renaiss-left{
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.renaiss-right{
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

#rl1,
#rr1 {
    width: 50%;
    height: 42vh;
}

#styles{
  font-family: 'Old Town Regular';
  font-size: 35vh;
  float: right;
  display: block;
  text-decoration: double underline;
  padding-left: 2vh;
  margin-top: -5vh;
}

h3{
  text-align: center;
  padding: 2vh 0;
}

#theproject:hover{
    animation: rotate 0.5s linear;
}
#documentation:hover{
    animation: rotate 0.5s linear;
}
#markup:hover{
    animation: rotate 0.5s linear;
}

h3:hover{
  cursor:pointer;
}

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#about{
   text-transform: uppercase;
   writing-mode: vertical-rl;
   text-orientation: upright;
   display: contents;
}

#theproject{
  font-size: 25vh;
  margin-bottom: 20vh;
}

#ingranaggio{
  background-size: contain;
}
#fork{
    position: absolute;
    bottom: -550vh;
    left: 3vh;
    height: 50vh;
}
#spiral{
  width: 30vh;
  position: relative;
  left: 75vh;
  top: -65vh;
}
#spiral:hover{
  animation: round 1s linear;
}

@keyframes round{
  0%{
      transform: rotate(0deg);
  }
  25%{
      transform: rotate(90deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(0deg);
  }
}
#dadaism, #comicbook{
  font-family:'cRAZYsTYLE';
  color: #7F2221;
  text-transform: lowercase;
  font-size: 13vh;
}

#sources{
  font-family: 'VanchromeFront-Regular';
  font-size: 7vh;
  text-align: justify;
  margin: 10vh 0;
  position: relative;
  display: inline;
}

#hand, #hand2{
  width: 15vh;
  display: inline;
}

#fonts, #fonts2{
  font-family:'UnifrakturMaguntia';
  font-size: 10vh;
  margin:10vh;
  text-align: center
  -moz-transform:rotate(-55deg); /* Firefox */
  -webkit-transform:rotate(-55deg); /* Webkit */
  -ms-transform:rotate(-55deg); /* IE */
  -o-transform:rotate(-55deg); /* Opera */
  transform:rotate(-55deg); /* future */
}
#panelfonts, #panelfonts2{
  font-family:'PoiretOne-Regular';
  text-align: right;
  margin: 1vh;
}
#divfont{
  display: inline-block;
}
#layout, #layout2{
  font-family: "Higher";
  font-size: 15vh;
  color: #cb3a35;
  margin:5vh 0;
  padding: 3vh;
  text-align: center;
}
#panellayout, #panelfonts2{
  margin: 1vh;
}

#cointainerlayout{
  border: 1vh dotted;
}

#colors, #colors2{
  font-family:'Lobster-Regular';
  font-size: 8vh;
  color: #cb3a35;
  writing-mode: tb;
  text-orientation: upright;
  border: 1vh solid black;
  height: 67vh;
}
#colorsandpanel, #colorsandpanel2{
  margin: 5vh 0;
  flex-direction: row;
  display: flex;
  max-height: inherit;
  height: 67vh;
}

#panelcolors, #panelcolors2{
  border:1vh solid;
  padding-left: 5vh;
  border-left: 0;
  height: 67vh;
}
#MouvementDADA{
  display: inline;
  width: -webkit-fill-available;
  margin: 1vh 2vh 1vh 0;
  border: 0.5vh double black;
}

#ABCD{
  float: right;
  height: 50vh;
  margin: 2vh 0 1vh 2vh;
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Webkit */
  -ms-transform:rotate(-10deg); /* IE */
  -o-transform:rotate(-10deg); /* Opera */
  transform:rotate(-10deg); /* future */
}

#mycollage{
  margin: 4vh 0;
  display: block;
  width: -webkit-fill-available;
  -moz-transform:rotate(+2deg); /* Firefox */
  -webkit-transform:rotate(+2deg); /* Webkit */
  -ms-transform:rotate(+2deg); /* IE */
  -o-transform:rotate(+2deg); /* Opera */
  transform:rotate(+2deg); /* future */
  border: 1vh solid;
}
#fontainreal{
  display: inline;
}
#fontain{
  background-color: #fff;
  display: inline;
  width: 50vh;
}
#Romanaexample, #styledoc, #bloodydoc, #fontabstract{
  width: 80vh;
  margin:1vh 0;
  border: 0.5vh double black;
}

.designer {
  background-image: repeating-linear-gradient(0deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(90deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(180deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(270deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px);
  background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  padding:3vh;
}
.designerinfo{
   padding: 0 15vh 15vh 15vh;
   font-size: 2.7vh;
   position: center;
   text-align: justify;
   weight: 50%;
   flex: 0 0 auto;
 }

.fotodesigner{
  width: 38%;
  float:left;
  -moz-transform:rotate(+10deg); /* Firefox */
  -webkit-transform:rotate(+10deg); /* Webkit */
  -ms-transform:rotate(+10deg); /* IE */
  -o-transform:rotate(+10deg); /* Opera */
  transform:rotate(+10deg); /* future */
}
#designertitle{
  font-family:'Caledo Bold';
  font-size: 20vh;
}
#lower{
  font-size: 10vh;
}
#designerparagraph{
  writing-mode: vertical-rl;
  height: 30%;
  margin: 0;
}
#spoon{
  position: absolute;
  right: 0;
  height: 60vh;
}

footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images in Documentation*/

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

li {
  display: inline;
  max-height: 40vh;
}
.item{
  max-height: 35vh;
  margin: 3vh;
  border: 1vh double;
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}
.OldLace{
  background-color: #FAF2E2;
}
.Sindbad{
  background-color: #9BD1C6;
}
.Java {
  background-color: #319393;
}
.GoldenYellow{
  background-color: #F7E802;
}
.Conifer{
  background-color: #C2DA53;
}
.TrendyPink{
  background-color: #745072;
}
.CarrotOrange{
  background-color: #EE9218;
}
.Cabaret{
  background-color: #D05D79;
}
.JellyBean{
  background-color: #47759A;
}
.Salomie{
  background-color: #FFD581;
}
.OrangeRed{
  background-color: #F64218;
}
.BlackPearl{
  background-color: #0D1B2C;
}

.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}

h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}
/* COLOR PALETTE fine--------------------------------------------------- */
