* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../font/basic/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../font/basic/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../font/basic/BeVietnamPro-Regular.woff2') format('woff2');
}

body{
  background-color: #0F0F0F;
  font-family:'BeVietnamPro-Regular';
  overflow-x: hidden;
  overflow-y:scroll;
  height: auto;
}

video{
  right: 0;
  bottom: 0;
  margin-top: 8vh;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
  z-index: 0;
  }

.navbar{
  color: #282828;
  text-align: right;
  cursor: pointer;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}
/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 4vh;
  font-weight: bold;
  padding-right: 3vh;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0;
  background-color: #842029;
  color: white;
  text-align: left;
  display: block;
}

#disclaimertitle{
  padding: 1vh 3vh;
  font-size: 3vh;
  margin: 0;
}
.modal-body {
  padding: 2vh 3vh;
  font-family: 'BeVietnamPro-Regular';
  text-align: justify;
}

.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}
button{
  border: none;
  background-color: inherit;
}
/*fine Disclaimer */

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  z-index: 100;
  position: relative;
  padding: 7vh;
  margin:  10vh 0 10vh 5vh;
}
.question{
  font-size: 10vh;
  padding-right: 50%;
  text-align: left;
  color: #fff;
}

.container{
  max-width: inherit;
  max-height: inherit;
}

#possibleadd{
  display: none;
}
.issue{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-right: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
}

.magazine{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-left: 50%;
  text-align: justify;
  background-size: cover;
  background-color: #fff;
  margin: 0;
}

.projectinfo{
  padding: 6vh 30vh 30vh 30vh;
  font-size: 2.7vh;
  position: center;
  background-color: #fff;
  text-align: justify;
}

.documentationinfo{
  padding: 6vh 30vh 15vh 30vh;
  font-size: 2.7vh;
  position: center;
  color: #fff;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}

h2{
  text-align: center;
  padding: 5vh 0;
 }

h3{
  text-align: center;
  padding: 2vh 0;
}

h2:hover, h3:hover{
           animation: rotate 0.5s linear;
       }
h3:hover{
  cursor:pointer;
}

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#about{
   text-transform: uppercase;
 }

.designerinfo{
   padding: 6vh 30vh 15vh 30vh;
   font-size: 2.7vh;
   position: center;
   background-color: #fff;
   text-align: justify;
   weight: 50%;
   flex: 0 0 auto;
 }

.fotodesigner{
  border: 1vh;
  max-width: 35%;
  float:left;
  shape-outside: circle(50%);
  -webkit-shape-outside: circle(50%);
  shape-margin: 10px;
  -webkit-shape-margin: 10px;
  clip-path: circle(50%);
  -webkit-clip-path: circle(50%);
}

footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images*/

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: url('../imgs/base/icons8-browser-50.png') 2 2, pointer;
}
ul.advimages {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 60vh;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: url('../imgs/base/icons8-browser-50.png') 2 2, pointer;
}
li {
  display: inline;
  max-height: 40vh;
}
.item{
  max-height: 35vh;
  margin: 3vh;
}
.advitem{
  max-height: 55vh;
  margin: 3vh;
}
#quotation{
  font-style: italic;
}
#fontainreal{
  display: block;
  margin: 1vh auto;
  height: 40%;
}
.imgdoc{
  text-align: center;
  display: block;
  margin: 2vh auto;
  width: 70%;
}
.imgdocT{
  text-align: center;
  display: block;
  margin: 2vh auto;
  width: 100%;
}

.figdoc{
  text-align: center;
  display: block;
}
figcaption{
  font-size: 2vh;
  margin: auto 7vh;
}

#mycollage{
  display: block;
  margin: 1vh auto;
  width: -webkit-fill-available;
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}
.OldLace{
  background-color: #FAF2E2;
}
.Sindbad{
  background-color: #9BD1C6;
}
.Java {
  background-color: #319393;
}
.GoldenYellow{
  background-color: #F7E802;
}
.Conifer{
  background-color: #C2DA53;
}
.TrendyPink{
  background-color: #745072;
}
.CarrotOrange{
  background-color: #EE9218;
}
.Cabaret{
  background-color: #D05D79;
}
.JellyBean{
  background-color: #47759A;
}
.Salomie{
  background-color: #FFD581;
}
.OrangeRed{
  background-color: #F64218;
}
.BlackPearl{
  background-color: #0D1B2C;
}

.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}

h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}
/* COLOR PALETTE fine--------------------------------------------------- */
#footerpgraph{
 background-color: rgba(0, 0, 0, 0.2);
}
