* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Phorssa';
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.ttf') format('ttf');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff') format('woff');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff2') format('woff2');
}


body{
  background-color: #0F0F0F;
  font-family:'BeVietnamPro-Regular';
}

.navbar-brand{
  font-family: 'Phorssa';
  color: #f8221f;
  letter-spacing: 0;
}

.navbar{
  background-image: url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/imgs/dada/paper book.jpeg');
  text-align: right;
  cursor: pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }
video{
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background: no-repeat;
background-size: cover;
z-index: 0;
}

#specialedition{
  z-index: 100;
  position: relative;
  padding: 5vh;
  margin:  10vh 0 5vh 5vh;
}
.question{
  font-size: 10vh;
  padding-right: 50%;
  text-align: left;
  color: #fff;
}

.container{
  max-width: inherit;
  max-height: inherit;
}

.issue{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-right: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
}

.magazine{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-left: 50%;
  text-align: justify;
  background-size: cover;
  background-color: #fff;
  margin: 0;
}

.projectinfo{
  padding: 6vh 38vh 30vh 28vh;
  font-size: 2.7vh;
  position: center;
  background-color: #fff;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}
h2:hover{
           animation: rotate 0.5s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

 h2{
  text-align: center;
  padding: 5vh 0;
 }

 #about{
   text-transform: uppercase;
 }

.designerinfo{
   padding: 6vh 38vh 30vh 28vh;
   font-size: 2.7vh;
   position: center;
   color: #fff;
   text-align: justify;
 }
.fotodesigner{
  border: 1vh;
  border-radius: 50%;
}
footer{
  font-size: 1.8vh;
}
