* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

body{
  background-color: #0F0F0F;
  font-family:'BeVietnamPro-Regular';
  overflow-x: hidden;
}

video{
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: no-repeat;
  background-size: cover;
  z-index: 0;
  }

.navbar{
  color: #282828;
  text-align: right;
  cursor: pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  z-index: 100;
  position: relative;
  padding: 7vh;
  margin:  10vh 0 10vh 5vh;
}
.question{
  font-size: 10vh;
  padding-right: 50%;
  text-align: left;
  color: #fff;
}

.container{
  max-width: inherit;
  max-height: inherit;
}

.issue{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-right: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
}

.magazine{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  padding-left: 50%;
  text-align: justify;
  background-size: cover;
  background-color: #fff;
  margin: 0;
}

.projectinfo{
  padding: 6vh 30vh 30vh 30vh;
  font-size: 2.7vh;
  position: center;
  background-color: #fff;
  text-align: justify;
}

.documentationinfo{
  padding: 6vh 30vh 30vh 30vh;
  font-size: 2.7vh;
  position: center;
  color: #fff;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}

h2{
  text-align: center;
  padding: 5vh 0;
 }

h3{
  text-align: center;
  padding: 2vh 0;
}

h2:hover, h3:hover{
           animation: rotate 0.5s linear;
       }
h3:hover{
  cursor:pointer;
}

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#about{
   text-transform: uppercase;
 }

 .fonts, .sources{

 }
 .layout, .colors{

 }

.designerinfo{
   padding: 6vh 30vh 30vh 30vh;
   font-size: 2.7vh;
   position: center;
   background-color: #fff;
   text-align: justify;
   weight: 50%;
   flex: 0 0 auto;
 }

.fotodesigner{
  border: 1vh;
  max-width: 30%;
  float:left;
  shape-outside: circle(50%);
  -webkit-shape-outside: circle(50%);
  shape-margin: 10px;
  -webkit-shape-margin: 10px;
  clip-path: circle(50%);
  -webkit-clip-path: circle(50%);
}

footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images*/

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
}

li {
  display: inline;
  max-height: 40vh;
}
.item{
 max-height: 40vh;
 padding:0 2vh;
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  }


.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}


.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}
h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}
/* COLOR PALETTE fine--------------------------------------------------- */
