* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Phorssa';
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.ttf') format('ttf');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff') format('woff');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff2') format('woff2');
}

@font-face {
    font-family: 'Romana BT';
    src: local('Romana BT'), url('../font/dadafont/romana-bt-roman.ttf') format('ttf');
  }

body{
  background-image: url("../imgs/dada/Home collage/sfondo dada bianco.png");
  overflow-x: hidden;
  font-family: 'Romana BT';
  text-align: justify;
  line-height: 1;
  font-size: 14px;
}

#collagedada{
width: 100%;
}

.navbar-brand{
  font-family: 'Phorssa';
  color: #f8221f;
  letter-spacing: 0;
}

.navbar{
  background-image: url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/imgs/dada/paper book.jpeg');
  text-align: right;
  cursor: pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  color: black;
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}

a:hover{
  opacity: 50%;
  color: #b94842;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}


.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  z-index: 100;
  position: relative;
  padding: 7vh;
  margin:  10vh 0 10vh 5vh;
}
.question{
  font-size: 10vh;
  padding-right: 50%;
  text-align: left;
  color: #fff;
}

.container{
  max-width: inherit;
  max-height: inherit;
}

.issue{
  z-index: 100;
  position: relative;
  padding: 5vh;
  font-size: 2.7vh;
  margin-right: 50%;
  border: 1vh solid  #cb3a35;
  text-align: center;
  color: #cb3a35;
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Webkit */
  -ms-transform:rotate(-10deg); /* IE */
  -o-transform:rotate(-10deg); /* Opera */
  transform:rotate(-10deg); /* future */
}

.magazine{
  z-index: 100;
  position: relative;
  font-size: 2.7vh;
  margin-left: 50%;
  text-align: justify;
  max-height: 30vh;
  -moz-transform:rotate(+90deg); /* Firefox */
  -webkit-transform:rotate(+90deg); /* Webkit */
  -ms-transform:rotate(+90deg); /* IE */
  -o-transform:rotate(+90deg); /* Opera */
  transform:rotate(+90deg); /* future */
}

.projectinfo{
  padding: 4vh 10vh 10vh 10vh;
  font-size: 2.7vh;
  position: center;
  text-align: justify;
  column-count: 2;
  column-gap: 30px;
  column-rule: 1vh solid;
}
hr{
  border: 0.5vh;
}

.documentationinfo{
  padding: 6vh 20vh 20vh 20vh;
  font-size: 2.7vh;
  position: center;
  color: #fff;
  text-align: center;
}

#documentation{
  text-align: center;
  position: right;
}

h3{
  text-align: center;
  padding: 2vh 0;
}

h2:hover, h3:hover{
    animation: rotate 0.5s linear;
}
h3:hover{
  cursor:pointer;
}

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(20deg);
           }
           50%{
               transform: rotate(-20deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#about{
   text-transform: uppercase;
}

#theproject{
  font-size: 25vh;
}

 .fonts, .sources{
}

 .layout, .colors{
}

.designerinfo{
   padding: 6vh 30vh 30vh 30vh;
   font-size: 2.7vh;
   position: center;
   text-align: justify;
   weight: 50%;
   flex: 0 0 auto;
 }

.fotodesigner{
  border: 1vh;
  max-width: 30%;
  float:left;
  shape-outside: circle(50%);
  -webkit-shape-outside: circle(50%);
  shape-margin: 10px;
  -webkit-shape-margin: 10px;
  clip-path: circle(50%);
  -webkit-clip-path: circle(50%);
}

footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images in Documentation*/

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
}

li {
  display: inline;
  max-height: 40vh;
}
.item{
 max-height: 40vh;
 padding:0 2vh;
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}


.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}
h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}
/* COLOR PALETTE fine--------------------------------------------------- */
