* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

@font-face {
  font-family:'SunlightScript';
  src: local('SunlightScript'), url('../font/70font/SunlightScript.ttf') format('ttf');
  src: local('SunlightScript'), url('../font/70font/SunlightScript.woff') format('woff');
  src: local('SunlightScript'), url('../font/70font/SunlightScript.woff2') format('woff2');
}
@font-face {
  font-family:'FrightNight-Outline';
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.ttf') format('ttf');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff') format('woff');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff2') format('woff2');
}

@font-face {
  font-family:'Inkslinger BB';
  src: local('Inkslinger BB'), url('../font/70font/Inkslinger BB.ttf') format('ttf');
  src: local('InkslingerBB'), url('../font/70font/InkslingerBB.woff') format('woff');
  src: local('InkslingerBB'), url('../font/70font/InkslingerBB.woff2') format('woff2');
}

@font-face {
  font-family:'Mahavishnu-Regular';
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.ttf') format('ttf');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff') format('woff');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'MissAmandaJonesExp';
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.ttf') format('ttf');
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.woff') format('woff');
  src: local('MissAmandaJonesExp'), url('../font/70font/MissAmandaJonesExp.woff2') format('woff2');
}
@font-face {
  font-family:'BrillanteSt';
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.ttf') format('ttf');
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.woff') format('woff');
  src: local('BrillanteSt'), url('../font/70font/BrillanteSt.woff2') format('woff2');
}
@font-face {
  font-family:'SansSerifShaded';
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.ttf') format('ttf');
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.woff') format('woff');
  src: local('SansSerifShaded'), url('../font/70font/SansSerifShaded.woff2') format('woff2');
}

@font-face {
  font-family:'Cursivestandard';
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.ttf') format('ttf');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff') format('woff');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff2') format('woff2');
}

@font-face {
  font-family:'AbstractGroovy';
  src: local('AbstractGroovy'), url('../font/70font/AbstractGroovy.ttf') format('ttf');
  src: local('AbstractGroovy'), url('../font/70font/AbstractGroovy.woff') format('woff');
  src: local('AbstractGroovy'), url('../font/70font/AbstractGroovy.woff2') format('woff2');
}
@font-face {
  font-family:'Goop';
  src: local('Goop'), url('../font/70font/Goop.ttf') format('ttf');
  src: local('Goop'), url('../font/70font/Goop.woff') format('woff');
  src: local('Goop'), url('../font/70font/Goop.woff2') format('woff2');
}
@font-face {
  font-family:'dDAFTt-UPPERcase';
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.ttf') format('ttf');
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.woff') format('woff');
  src: local('dDAFTt-UPPERcase'), url('../font/dadafont/dDAFTt-UPPERcase.woff2') format('woff2');
}

@font-face {
  font-family:'Soopafresh';
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.ttf') format('ttf');
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.woff') format('woff');
  src: local('Soopafresh'), url('../font/dadafont/Soopafresh.woff2') format('woff2');
}
@font-face {
  font-family:'';
  src: local(''), url('../font/70font/.ttf') format('ttf');
  src: local(''), url('../font/70font/.woff') format('woff');
  src: local(''), url('../font/70font/.woff2') format('woff2');
}
@font-face {
  font-family:'';
  src: local(''), url('../font/70font/.ttf') format('ttf');
  src: local(''), url('../font/70font/.woff') format('woff');
  src: local(''), url('../font/70font/.woff2') format('woff2');
}

body{
  background-image: url("../imgs/70/sfondo bianco.png");
  font-family:'Inkslinger BB';
  overflow-x: hidden;
  cursor: url('../imgs/70/handcursor.png') 2 2, pointer;
}

button{
  color: #cb3a34;
}

.nav-link{
  font-family: 'SunlightScript';
  font-size: 2.5vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.navbar-brand{
  font-family: 'FrightNight-Outline';
  text-transform: uppercase;
  color: #f8221f;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
#navbar-brand{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.nav-item{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.navbar{
  text-align: right;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 0.5vh solid;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#disclaimer{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 4vh;
  font-weight: bold;
  padding-left: 3vh;
  color: firebrick;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.modal-header {
  padding: 0;
  background-image: url("../imgs/70/sfondo bianco.png");
  border: 0.5vh solid;
  border-bottom: 0;
}

#disclaimertitle{
  padding: 1vh 3vh;
  font-size: 3vh;
  margin: 0;
  margin-right: -2vh;
  margin-top: -2vh;
  background-image: url("../imgs/70/sfondo giallo.png");
  border: 0.5vh solid;
}
.modal-body {
  padding: 2vh 3vh;
  font-family: Arial;
  text-align: justify;
  background-image: url("../imgs/70/sfondo bianco.png");
  border: 0.5vh solid;
  border-top: 0;
}
#modal_body{
  background-image: url("../imgs/70/sfondo petrolio.png");
  border: 0.5vh solid;
  padding: 1vh;
}
.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}
button{
  border: none;
  background-color: inherit;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
/*fine Disclaimer */

#comicshomepage{
  width: 100%;
  display: none;
}

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#specialedition{
  max-height: -webkit-fill-available;
  background-image: url("../imgs/70/sfondo rosa.png");
  margin-top: 10vh;
}
#specialtext{
  font-family:'Inkslinger BB';
  background-image: url("../imgs/70/nuvola2.png");
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  left: 70vh;
  font-size: 3vh;
  text-align: center;
  padding: 10% 20% 20% 20%;

}
/*
.finalpart{
  font-family: 'AbstractGroovy';
  text-shadow: 0;
  color: #DDA061;
  letter-spacing: -1vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
*/

.wh{
  font-family:'Goop';
  text-shadow: 0;
  color: #62A1C0;
}
#clarabella{
  position: relative;
  top: -31vh;
  left:-1vh;
}

/*bubble*/
blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
/*speech*/
blockquote.speech {
  background-image: url("../imgs/70/fumetto.png");
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
}

.container{
  z-index: 100;
  border: 1vh solid;
  margin-top: 4vh;
  background-image: url("../imgs/70/sfondo bianchissimo.png");
}

.magazine{
}
.magazineinfo {
}
#magazinetitle{
  position: relative;
  max-width: 50vh;
  padding:1vh;
  padding-bottom: 2vh;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: 1em;
  margin-top: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#magazinetitle::first-letter {
  font-size: 8vh;
}

#magazinetitle::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
.comicstrip{
  flex-direction: row;
  display: flex;
  border: 0.5vh solid;
  height: 60vh;
  background-image: url("../imgs/70/collagemagazine.jpg");
  background-repeat: no-repeat;
}
#secondstrip{
  background: none;
  border: none;
}
#magazineparagraph1{
  background-image: url("../imgs/70/fumettolaterale.png");
  display: flex;
  position: relative;
  top: -22vh;
  left: 18vh;
  font-size: 2vh;
  text-align: center;
  padding: 10% 20% 20% 20%;
}
#magazineparagraph2{
  background-image: url("../imgs/70/nuvoletta.png");
  display: flex;
  position: relative;
  width: min-content;
  top: 16vh;
  left: -50vh;
  font-size: 2vh;
  text-align: center;
  padding: 3% 6% 22% 3%;
  margin: 0;
}

#magazineparagraph3{
  background-image: url("../imgs/70/fumettoup.png");
  display: flex;
  position: relative;
  left: -33vh;
  top: -10vh;
  padding: 4% 2.5% 23% 2.5%;
}

.issue{
  max-height: 68vh;
}

#issuetitle{
  position: relative;
  max-width: 40vh;
  margin-left: 32em;
  margin-right: -1em;
  margin-top: -1em;
  margin-bottom: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#issuetitle::first-letter {
  font-size: 8vh;
}

#issuetitle::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
#issueparagraph{
  border: 0.5vh solid black;
  background-image: url("../imgs/70/sfondo arancione.png");
  text-align: left;
  padding: 2vh;
  padding-right: 10vh;
  margin-right: 1vh;
  font-style: italic;
}
#issueparagraph::first-letter{
  font-size: 8vh;
}

#issueparagraph::after{
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}

#issuetopolino{
  border: 0.5vh solid black;
  margin: 0 1vh 2vh;
}
#paperinosalto{
  border: 0.5vh solid black;
  margin: 0 1vh 2vh;
}
#first{
  background-image: url("../imgs/70/fumettoleft.png");
  display: flex;
  position: relative;
  top: -65vh;
  left: -28vh;
  font-size: 2vh;
  text-align: center;
  padding: 4% 4% 15% 3%;
}

#second{
  background-image: url("../imgs/70/nuvoletta.png");
  display: flex;
  position: relative;
  width: min-content;
  top: -80vh;
  left: -50vh;
  font-size: 2vh;
  text-align: center;
  padding-left: 3%;
  padding-right: 6%;
}

#third{
  background-image: url("../imgs/70/fumettoellisse.png");
  display: flex;
  position: relative;
  top: -135vh;
  left: 33vh;
  font-size: 2vh;
  text-align: center;
  padding: 4% 4% 12% 3%;
}

#about{
  position: relative;
  max-width: 40vh;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: 1em;
  margin-top: -1em;
  border: 0.5vh solid;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
  text-transform: uppercase;
}
#about::first-letter {
  font-size: 8vh;
}

#about::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}
.project{
  max-height: inherit;
}
.projectinfo{
  font-size: 2.7vh;
  position: center;
  text-align: justify;
}
#theproject{
  font-size: 8vh;
  font-family:'Soopafresh';
}
#projectparagraph{
  font-family: Arial;
  padding: 10vh;
  padding-top: 2vh;
  font-size: 2vh;
  column-count: 2;
  column-gap: 5vh;
  column-rule: 0.5vh solid;
}
#projectparagraph::first-letter{
  font-size: 5vh;
  color: #C00022;
  display: block;
  float: left;
  margin: 0.04em 0.2em 0 0;
  line-height: 1;
}

.documentationinfo{
  font-size: 2.7vh;
  position: center;
  text-align: justify;
}

.section_heading{
  text-align: center;
  padding: 5vh;
}
hr{
  display: none;
}
.documentation{
  padding: 1vh;
  margin: 1vh 0;
  background-image: url("../imgs/70/sfondo giallino.png");
}
#documentation{
  background-image: linear-gradient(90deg, #8500ff, #ff8100);
  font-family:'Mahavishnu-Regular';
  font-size: 15vh;
  color: #DCC65F;
  border: 0.5vh solid black;
  padding:0;
  flex-direction: row;
  background-image: url("../imgs/70/sfondo blu.png");
}
#documentationtitle{
  max-height: 55vh;
  flex-direction: row;
  display: flex;
  position: relative;
  top: 15vh;
  left: 40vh;
  text-align: center;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#quiquoqua{
  max-height: 55vh;
  flex-direction: row;
  display: flex;
  position: relative;
  left: -10vh;
  bottom: -8vh;
  margin: 0;
}
#markup{
  font-family:'MissAmandaJonesExp';
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #C00022;
  flex-direction: row;
  display: flex;
  font-family: 'MissAmandaJonesExp';
  position: relative;
  top: -35vh;
  left: 40vh;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#m{
  font-size: 30vh;
  display: inline;
  transform: rotate(-15deg);
}

#a{
  font-size: 30vh;
  display: inline;
  transform: rotate(-5deg);
}

#r{
  font-size: 30vh;
    display: inline;
}
#k{
  font-size: 40vh;
  display: inline;
  transform: rotate(+5deg);
}

#u{
  font-size: 30vh;
  display: inline;
  transform: rotate(-10deg);
}
#p{
  font-size: 25vh;
  display: inline;
  transform: rotate(+10deg);
}
#markupparagraph{
  font-family: Arial;
  padding: 10vh;
  margin-top: -45vh;
  font-size: 2vh;
  column-count: 2;
  column-gap: 5vh;
  column-rule: 0.5vh solid;
}
#markupparagraph::first-letter {
  font-size: 5vh;
  color: #C00022;
  display: block;
  float: left;
  margin: 0.04em 0.2em 0 0;
  line-height: 1;
}
#styles{
  padding: 0;
}
#styleparagraph{
  font-family: Arial;
  padding: 10vh;
  font-size: 2vh;
  column-count: 2;
  column-gap: 5vh;
  column-rule: 0.5vh solid;
}
#styleparagraph::first-letter {
  font-size: 5vh;
  color: #C00022;
  display: block;
  float: left;
  margin: 0.04em 0.2em 0 0;
  line-height: 1;
}

h3{
  text-align: center;
  padding: 2vh 0;
}
       }
h3:hover{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

 #sources{
   text-align: center;
   position: relative;

 }

 #panelsource, #panelfonts2{
   margin: 10vh 1vh;
 }
 .fonts, .sources{

 }
 .layout, .colors{

 }

.designer{
   padding: 6vh 20vh 30vh 20vh;
   position: center;
   text-align: justify;
   display: inline-block;
 }

#designertitle{
  font-size: 8vh;
  font-family: 'Soopafresh';
}

.fotodesigner{
  display: inline;
  border: 1vh;
  max-width: 30%;
  border: solid black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
}
#designerparagraph{
  display: inline;
}


footer{
  font-size: 1.8vh;
}
.panel{
  display: none;
}
/* horizonal scrolling for images*/

ul.images {
  margin-bottom: 1vh;
  padding: 0;
  border: 0.5vh solid;
  white-space: nowrap;
  height: 40vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background-image: url("../imgs/70/sfondo celestino.png");
}
ul.middleimages{
  background-image: url("../imgs/70/sfondo rosa.png");
}

ul.four{
  background-image: url("../imgs/70/sfondo viola.png");
}

ul.six{
  background-image: url("../imgs/70/sfondo verde.png");
}
ul.eight{
  background-image: url("../imgs/70/sfondo lilla.png");
}

li {
  display: inline;
  max-height: 40vh;
}
.item {
    max-height: 35vh;
    margin: 3vh;
    border: solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}
.item2{
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

/* COLOR PALETTE--------------------------------------------------- */

.colorcontainer{
  width:100%;
  margin: 0 auto;
  padding: 20px 0;
}

.color-palettes {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  }


.color-palettes__item{
  width:130px;
  height: 180px;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right:26px;
  border-radius:3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.12);
}

.color-box{
  width:100%;
  height: 130px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.AntiqueWhite{
  background-color: #FAEBD7;
  }
.BurlyWood {
  background-color: #DEB887;
}
.Tan {
  background-color: #D2B48C;
}
.Aubergine{
  background-color: #302A2C;
}
.BrownSugar{
  background-color: #B97D63;
}
.PersianRed{
  background-color: #cb3a34;
}
.OldLace{
  background-color: #FAF2E2;
}
.Sindbad{
  background-color: #9BD1C6;
}
.Java {
  background-color: #319393;
}
.GoldenYellow{
  background-color: #F7E802;
}
.Conifer{
  background-color: #C2DA53;
}
.TrendyPink{
  background-color: #745072;
}
.CarrotOrange{
  background-color: #EE9218;
}
.Cabaret{
  background-color: #D05D79;
}
.JellyBean{
  background-color: #47759A;
}
.Salomie{
  background-color: #FFD581;
}
.OrangeRed{
  background-color: #F64218;
}
.BlackPearl{
  background-color: #0D1B2C;
}


.color-intro{
  width:100%;
  padding:10px 10px;
  font-family: monospace;
}
h5.key{
  margin: 0;
  margin-bottom: -2px;
  font-weight:500;
  font-size:16px;
  color: black;
}

.code{
  color:#929292;
  font-size:0.8em;
}



/* COLOR PALETTE fine--------------------------------------------------- */

footer{
  background-image: url("../imgs/70/sfondo bianco.png");
}
