* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../The Observatory for Justice/font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Phorssa';
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.ttf') format('ttf');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff') format('woff');
  src: local('Phorssa'), url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/font/dadafont/Phorssa.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../The Observatory for Justice/font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../The Observatory for Justice/font/dadafont/GravitasOne.woff2') format('woff2');
}


body{
  background-color: #0F0F0F;
  font-family:'BeVietnamPro-Regular';
}
.img0{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  min-width: 100%;

}

.navbar-brand{
  font-family: 'Phorssa';
  color: #f8221f;
  letter-spacing: 0;
}

.navbar{
  background-image: url('/Users/luisaammirati/Desktop/DHDK/VITALI/WEB TECH/The Observatory for Justice/imgs/dada/paper book.jpeg');
  text-align: right;
  cursor: pointer;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.specialedition{
  z-index: 100;
  position: relative;
  padding: 5vh;
  margin:  10vh 0 5vh 5vh;
}
.question{
  font-family: 'GravitasOne';
  font-size: 8vh;
  padding-right: 50%;
  text-align: left;
  color: #fff;
}

.illustration{
  z-index: 100;
  position: relative;
  padding: 8vh;
  font-size: 3vh;
  padding-left: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
}
.magazine, .project{
  z-index: 100;
  position: relative;
  padding: 8vh;
  font-size: 3vh;
  padding-right: 50%;
  text-align: justify;
  color: #fff;
  background-size: cover;
}

.issue{
  z-index: 100;
  position: relative;
  padding: 8vh;
  font-size: 3vh;
  padding-left: 50%;
  text-align: justify;
  background-size: cover;
  background-color: #fff;
}
img{
  width: 50vh;
  padding: 0;
}

footer{
  font-size: 1.8vh;
}
