* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Romana BT';
    src: local('romana-bt-roman'), url('../font/dadafont/romana-bt-roman.ttf') format('ttf');
    src: local('RomanaBT-Roman'), url('../font/dadafont/RomanaBT-Roman.woff') format('woff');
    src: local('RomanaBT-Roman'), url('../font/dadafont/RomanaBT-Roman.woff2') format('woff2');
  }

@font-face {
  font-family:'Righteous-Regular';
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.ttf') format('ttf');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff') format('woff');
  src: local('Righteous-Regular'), url('../font/dadafont/Righteous-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Ultra-Regular';
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.ttf') format('ttf');
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.woff') format('woff');
  src: local('Ultra-Regular'), url('../font/dadafont/Ultra-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'PoiretOne-Regular';
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.ttf') format('ttf');
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.woff') format('woff');
  src: local('PoiretOne-Regular'), url('../font/dadafont/PoiretOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Sancreek-Regular';
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.ttf') format('ttf');
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.woff') format('woff');
  src: local('Sancreek-Regular'), url('../font/dadafont/Sancreek-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Nordica';
  src: local('Nordica'), url('../font/dadafont/Nordica.ttf') format('ttf');
  src: local('Nordica'), url('../font/dadafont/Nordica.woff') format('woff');
  src: local('Nordica'), url('../font/dadafont/Nordica.woff2') format('woff2');
}

@font-face {
  font-family:'DK P.I.';
  src: local('DK P.I.'), url('../font/dadafont/DK P.I..ttf') format('ttf');
  src: local('DK P.I.'), url('../font/dadafont/DKPI.woff') format('woff');
  src: local('DK P.I.'), url('../font/dadafont/DKPI.woff2') format('woff2');
}

@font-face {
  font-family:'GravitasOne';
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.ttf') format('ttf');
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.woff') format('woff');
  src: local('GravitasOne'), url('../font/dadafont/GravitasOne.woff2') format('woff2');
}

@font-face {
  font-family:'Old Town Regular';
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.ttf') format('ttf');
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.woff') format('woff');
  src: local('Old Town Regular'), url('../font/dadafont/Old Town Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Dolphins-SemiBoldItalic';
  src: local('Dolphins-SemiBoldItalic'), url('../font/dadafont/Dolphins-SemiBoldItalice.ttf') format('ttf');
  src: local('Dolphins-SemiBoldItalic'), url('../font/dadafont/Dolphins-SemiBoldItalic.woff') format('woff');
  src: local('Dolphins-SemiBoldItalic'), url('../font/dadafont/Dolphins-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family:'Caledo Bold';
  src: local('Caledo Bold'), url('../font/dadafont/caledo_bold-webfont.ttf') format('ttf');
  src: local('Caledo Bold'), url('../font/dadafont/caledo_bold-webfont.woff') format('woff');
}

@font-face {
  font-family:'Lobster-Regular';
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.ttf') format('ttf');
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.woff') format('woff');
  src: local('Lobster-Regular'), url('../font/dadafont/Lobster-Regular.woff2') format('woff2');
}

@font-face {
  font-family:'Phorssa';
  src: local('Phorssa'), url('../font/dadafont/Phorssa.ttf') format('ttf');
  src: local('Phorssa'), url('../font/dadafont/Phorssa.woff') format('woff');
  src: local('Phorssa'), url('../font/dadafont/Phorssa.woff2') format('woff2');
}
@font-face {
  font-family:'ABoxFor';
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.ttf') format('ttf');
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.woff') format('woff');
  src: local('ABoxFor'), url('../font/dadafont/ABoxFor.woff2') format('woff2');
}
@font-face {
  font-family:'DdaftT-lowercase';
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.ttf') format('ttf');
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.woff') format('woff');
  src: local('DdaftT-lowercase'), url('../font/dadafont/DdaftT-lowercase.woff2') format('woff2');
}

@font-face {
  font-family:'Jadefedgah80';
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.ttf') format('ttf');
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.woff') format('woff');
  src: local('Jadefedgah80'), url('../font/dadafont/Jadefedgah80.woff2') format('woff2');
}

body {
  background-image: url("../imgs/dada/sfondorosso4.png");
  background-size: contain;
  background-attachment: fixed;
  cursor: url('../imgs/dada/icons8-center-of-gravity-26.png'), auto;
}

.container {
  background-image: url("../imgs/dada/paper book.jpeg");
  max-width: 168vh;
  margin-top: 13vh;
  border: #302a2c double 3vh;
  padding: 1vh;
}

.text {
  font-family: 'Romana BT';
  text-align: justify;
  line-height: 1;
  font-size: 14px;
}


.article {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  height: 76vh;
  margin: auto;
  padding: 1.5vh;
}

.navbar-brand{
  font-family:'Jadefedgah80';
  letter-spacing: 0;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}

.navbar{
  background-image: url("../imgs/dada/sfondodadaissue.png");
  text-align: right;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 0.5vh solid;
}
.nav-link{
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}

/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-family: Arial;
  font-size: 4vh;
  font-weight: bold;
  padding: 3vh;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}

.modal-header {
  padding: 0;
  background-color: #842029;
  color: white;
  text-align: left;
  display: block;
}

#disclaimertitle{
  font-family: 'ABoxFor';
  padding: 2vh 3vh;
  font-size: 6vh;
  margin: 0;
}
.modal-body {
  text-align: justify;
  background-image: url("../imgs/dada/paper book.jpeg");
  padding: 0vh 3vh;
  margin: 0;
}

.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}

nav{
  border: none;
  background-color: inherit;
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}
button{
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}

button:hover{
  opacity: 50%;
  color: #b94842;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}
/*fine Disclaimer */


.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

#img2art2, #img4art2 {
  border: 10px solid;
  max-width: 100%;
  height: auto;
  object-position: right;
  filter: sepia(80%);
}

.icone {
  width: 6vh;
  border: 0;
  margin-left: 2vh;
  margin-right: 2vh;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}
/*zoom  article*/
#zoomin, #zoomout{
  background: #302a2c;
  padding-right: 0;
}

/*zoom article fine */


/* SIDEBAR */
/* SIDEBAR */

.side-bar{
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  width: 40vh;
  height: 90vh;
  position: fixed;
  top:10vh;
  right: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar.active{
  right: 0;
}

.menu{
  width: 100%;
  margin-top: 12vh;
}
.item {
  position: relative;
  cursor: pointer;
}
.side-bar .menu .item a{
  color: #fff;
  text-decoration: none;
  display: inherit;
  padding: 0.5vh 4vh;
  line-height: 4vh;
   word-break: break-word;
   letter-spacing: inherit;
}

.side-bar .menu .item a:hover{
   background-color: #8621F8;
   transition: 0.3s ease;
 }
 .form-check{
   color: #fff;
   font-size: 2vh;
   text-decoration: none;
   display: block;
   padding: 0.5vh 7vh;
   margin-bottom: 0;
 }
input{
   display: flex;
   position: relative;
   top: 1vh;
 }
 .form-check:hover{
   background-color: #8621F8;
   transition: 0.3s ease;
 }
 .side-bar .menu .item i{
   margin-right: 2vh;
 }

 .side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 2vh;
    transition: 0.3s ease;
  }

.sub-menu {
  background: rgba(0, 0, 0, 0.2);
  display: none;
 }

.sub-inner-menu{
  background: rgba(0, 0, 0, 0.2);
  display: none;
}
.sub-inner-inner-menu{
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.sub-inner-menu li{
  list-style: none;
}
.sub-inner-item{
 border: 0.1vh solid black;
 padding: 1vh;
 padding-left: 4vh;
}
.sub-inner-inner-item{
 padding: 0px 0vh 0 4vh;
 line-height: 4vh;
 font-size: 1.7vh;
}
.sub-inner-inner-menu li{
 list-style: none;
 display: inline-block;
}
.fa .fa-map-pin a{
 display: inline;
}
.fa-eraser{
 display: none;
  color: white;
}
 .rotate{
   transform: rotate(90deg);
 }
 .close-btn{
   position: absolute;
   color: #fff;
   font-size: 3vh;
   left: 0;
   margin: 2vh;
   cursor: pointer;
 }
 .menu-btn{
   position: absolute;
   right: 0;
   font-size: 3vh;
   margin: 2vh;
   cursor: pointer;
 }

/* SIDEBAR - FINE */

#artwork{
  height: 60vh
}
#endimage{
  height: 40vh;
  position: relative;
  left: 10vh;
}

.img3art2{
  shape-outside: polygon(5.35% 69.07%,35.25% 91.91%,67.17% 92.60%,95.86% 55.33%,75.05% 3.96%,28.89% 7.05%);
  clip-path: polygon(5.35% 69.07%,35.25% 91.91%,67.17% 92.60%,95.86% 55.33%,75.05% 3.96%,28.89% 7.05%);
  filter: grayscale(90%);
  opacity: 90%;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  font-family:'DdaftT-lowercase';
}
table{
  padding: 5px;
  box-sizing: border-box;
  margin:auto;
}

.articleauthor {
  font-family: 'Righteous-Regular';
  color: #cb3a35;
  text-transform: uppercase;
}

.articletitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
}

#articletitle1 {
  font-family: 'Old Town Regular';
  font-size: 80px;
  color: #cb3a35;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

#articletitle2 {
  font-family: 'GravitasOne';
  text-align: left;
}
#articletitle3{
  font-family: 'Caledo Bold';
  text-align: center;
}
.articlesubtitle {
  font-family: 'PoiretOne-Regular';
  font-size: 20px;
}

.subtitle {
  font-family: 'Nordica';
  font-size: 20px;
}

.linkandinfo {
  font-size: 18px;
  font-family: 'Ultra-Regular';
}

.articledate, .geoinfo {
  font-family: 'Ultra-Regular';
  font-size: 20px;
}

#abstract3{
  font-family: 'DK P.I.';
}

.section_heading{
  font-family: 'Work Sans', sans-serif;
  writing-mode: vertical-rl;
}

.subsection_heading{
  font-family:'Phorssa';
  text-align: center;
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Webkit */
  -ms-transform:rotate(-10deg); /* IE */
  -o-transform:rotate(-10deg); /* Opera */
  transform:rotate(-10deg); /* future */
  margin: 5%;

}

.table>:not(:first-child) {
    border-top: None;
}

figcaption{
  font-family: 'Dolphins-SemiBoldItalic';
  color: #b94842;
  transform-origin: right;
  text-align: end;
  line-height: 1;
  margin: 1vh;
}
.narrativeparagraph{
  font-family: ;
}

.renaiss-left{
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.renaiss-right{
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

#rl1, #rr1 {
    width: 50%;
    height: 25vh;
}
#tablen1, #tablen2, #tablen3 {
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Webkit */
  -ms-transform:rotate(-180deg); /* IE */
  -o-transform:rotate(-180deg); /* Opera */
  transform:rotate(-180deg); /* future */
}

#updatesandcorrectionstitle, #authorandarticleinfotitle {
  writing-mode: horizontal-tb;
  font-family: "Sancreek-Regular";
  hyphens: auto;
  -webkit-hyphens: auto;
  color: #b94842;
}

#updatesandcorrections2, #authorandarticleinfo3 {
  box-sizing: border-box;
  border: 10px dotted #b94842;
  padding: 5px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
  color: #b94842;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  color: black;
  font-family: Arial;
  letter-spacing: 10px;
  word-spacing: 5px;
}

a:hover{
  opacity: 50%;
  color: #b94842;
  cursor: url('../imgs/dada/icons8-hand-cursor-24.png'), auto;
}

.possiblepolygon{
  height: 30vh;
  width: 15vw;
  float: right;
  background: black center top no-repeat;
  opacity: 80%;
  padding: white 20px;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

.claim {
  margin:10px;
  font-family: 'Lobster-Regular';
  font-size: 30px;
  display: block;
  text-align: center;
}
#badapples{
  display: none;
}
.quote {
  font-family: 'Lobster-Regular';
}

#vivailduce {
  color: #b94842;
  margin: 20;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* Metadata Viewer*/
#metadata{
  top: -7vh;
  right: -10vh;
  position: relative;
}
