* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'Inkslinger BB';
  src: local('Inkslinger BB'), url('../font/70font/Inkslinger BB.ttf') format('ttf');
  src: local('InkslingerBB'), url('../font/70font/InkslingerBB.woff') format('woff');
  src: local('InkslingerBB'), url('../font/70font/InkslingerBB.woff2') format('woff2');
}

@font-face {
  font-family:'BackIssuesBB-BoldItalic';
  src: local('BackIssuesBB-BoldItalic'), url('../font/70font/BackIssuesBB-BoldItalic.ttf') format('ttf');
  src: local('BackIssuesBB-BoldItalic'), url('../font/70font/BackIssuesBB-BoldItalic.woff') format('woff');
  src: local('BackIssuesBB-BoldItalic'), url('../font/70font/BackIssuesBB-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family:'MavenPro';
  src: local('MavenPro'), url('../font/70font/MavenPro.ttf') format('ttf');
  src: local('MavenPro'), url('../font/70font/MavenPro.woff') format('woff');
  src: local('MavenPro'), url('../font/70font/MavenPro.woff2') format('woff2');
}

@font-face {
  font-family:'SunlightScript';
  src: local('SunlightScript'), url('../font/70font/SunlightScript.ttf') format('ttf');
  src: local('SunlightScript'), url('../font/70font/SunlightScript.woff') format('woff');
  src: local('SunlightScript'), url('../font/70font/SunlightScript.woff2') format('woff2');
}

@font-face {
  font-family:'FrightNight-Outline';
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.ttf') format('ttf');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff') format('woff');
  src: local('FrightNight-Outline'), url('../font/70font/FrightNight-Outline.woff2') format('woff2');
}

@font-face {
  font-family:'PalookaBB';
  src: local('PalookaBB'), url('../font/70font/PalookaBB.ttf') format('ttf');
  src: local('PalookaBB'), url('../font/70font/PalookaBB.woff') format('woff');
  src: local('PalookaBB'), url('../font/70font/PalookaBB.woff2') format('woff2');
}
@font-face {
  font-family:'PalookaBB-Italic';
  src: local('PalookaBB-Italic'), url('../font/70font/PalookaBB-Italic.ttf') format('ttf');
  src: local('PalookaBB-Italic'), url('../font/70font/PalookaBB-Italic.woff') format('woff');
  src: local('PalookaBB-Italic'), url('../font/70font/PalookaBB-Italic.woff2') format('woff2');
}
@font-face {
  font-family:'Mahavishnu-Regular';
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.ttf') format('ttf');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff') format('woff');
  src: local('Mahavishnu-Regular'), url('../font/70font/Mahavishnu-Regular.woff2') format('woff2');
}
@font-face {
  font-family:'MavenPro';
  src: local('MavenPro'), url('../font/70font/MavenPro.ttf') format('ttf');
  src: local('MavenPro'), url('../font/70font/MavenPro.woff') format('woff');
  src: local('MavenPro'), url('../font/70font/MavenPro.woff2') format('woff2');
}

@font-face {
  font-family:'NoVirus';
  src: local('NoVirus'), url('../font/70font/NoVirus.ttf') format('ttf');
  src: local('NoVirus'), url('../font/70font/NoVirus.woff') format('woff');
  src: local('NoVirus'), url('../font/70font/NoVirus.woff2') format('woff2');
}

@font-face {
  font-family:'SurferShopBTN';
  src: local('SurferShopBTN'), url('../font/70font/SurferShopBTN.ttf') format('ttf');
  src: local('SurferShopBTN'), url('../font/70font/SurferShopBTN.woff') format('woff');
  src: local('SurferShopBTN'), url('../font/70font/SurferShopBTN.woff2') format('woff2');
}

@font-face {
  font-family:'ComicsTricks';
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.ttf') format('ttf');
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.woff') format('woff');
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.woff2') format('woff2');
}
@font-face {
  font-family:'SlabsRegular';
  src: local('SlabsRegular'), url('../font/70font/SlabsRegular.ttf') format('ttf');
  src: local('SlabsRegular'), url('../font/70font/SlabsRegular.woff') format('woff');
  src: local('SlabsRegular'), url('../font/70font/SlabsRegular.woff2') format('woff2');
}
@font-face {
  font-family:'ComicsTricks';
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.ttf') format('ttf');
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.woff') format('woff');
  src: local('ComicsTricks'), url('../font/70font/ComicsTricks.woff2') format('woff2');
}

@font-face {
  font-family:'ComicStrip';
  src: local('ComicStrip'), url('../font/70font/ComicStrip.ttf') format('ttf');
  src: local('ComicStrip'), url('../font/70font/ComicStrip.woff') format('woff');
  src: local('ComicStrip'), url('../font/70font/ComicStrip.woff2') format('woff2');
}

@font-face {
  font-family:'KA-BLAMO';
  src: local('KA-BLAMO'), url('../font/70font/KA-BLAMO.ttf') format('ttf');
  src: local('KA-BLAMO'), url('../font/70font/KA-BLAMO.woff') format('woff');
  src: local('KA-BLAMO'), url('../font/70font/KA-BLAMO.woff2') format('woff2');
}

@font-face {
  font-family:'Bouncy';
  src: local('Bouncy'), url('../font/70font/Bouncy.ttf') format('ttf');
  src: local('Bouncy'), url('../font/70font/Bouncy.woff') format('woff');
  src: local('Bouncy'), url('../font/70font/Bouncy.woff2') format('woff2');
}

@font-face {
  font-family:'Amandine';
  src: local('Amandine'), url('../font/70font/Amandine.ttf') format('ttf');
  src: local('Amandine'), url('../font/70font/Amandine.woff') format('woff');
  src: local('Amandine'), url('../font/70font/Amandine.woff2') format('woff2');
}

@font-face {
  font-family:'RuinaOne-Black';
  src: local('RuinaOne-Black'), url('../font/70font/RuinaOne-Black.ttf') format('ttf');
  src: local('RuinaOne-Black'), url('../font/70font/RuinaOne-Black.woff') format('woff');
  src: local('RuinaOne-Black'), url('../font/70font/RuinaOne-Black.woff2') format('woff2');
}


@font-face {
  font-family:'RivenShieldBold';
  src: local('RivenShieldBold'), url('../font/70font/RivenShieldBold.ttf') format('ttf');
  src: local('RivenShieldBold'), url('../font/70font/RivenShieldBold.woff') format('woff');
  src: local('RivenShieldBold'), url('../font/70font/RivenShieldBold.woff2') format('woff2');
}

@font-face {
  font-family:'Cursivestandard';
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.ttf') format('ttf');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff') format('woff');
  src: local('Cursivestandard'), url('../font/70font/Cursivestandard.woff2') format('woff2');
}

@font-face {
  font-family:'Mad Scientist W01 Regular';
  src: local('Mad Scientist W01 Regular'), url('../font/70font/Mad Scientist W01 Regular.ttf') format('ttf');
  src: local('Mad Scientist W01 Regular'), url('../font/70font/Mad Scientist W01 Regular.woff') format('woff');
  src: local('Mad Scientist W01 Regular'), url('../font/70font/Mad Scientist W01 Regular.woff2') format('woff2');
}

@font-face {
  font-family:'P22PopArtComic';
  src: local('P22PopArtComic'), url('../font/70font/P22PopArtComic.ttf') format('ttf');
  src: local('P22PopArtComic'), url('../font/70font/P22PopArtComic.woff') format('woff');
  src: local('P22PopArtComic'), url('../font/70font/P22PopArtComic.woff2') format('woff2');
}
@font-face {
  font-family:'Chantilly-Serial-Heavy-Regular';
  src: local('Chantilly-Serial-Heavy-Regular'), url('../font/70font/Chantilly-Serial-Heavy-Regular.ttf') format('ttf');
  src: local('Chantilly-Serial-Heavy-Regular'), url('../font/70font/Chantilly-Serial-Heavy-Regular.woff') format('woff');
  src: local('Chantilly-Serial-Heavy-Regular'), url('../font/70font/Chantilly-Serial-Heavy-Regular.woff2') format('woff2');
}
@font-face {
  font-family:'Aura';
  src: local('Aura'), url('../font/70font/Aura.ttf') format('ttf');
  src: local('Aura'), url('../font/70font/Aura.woff') format('woff');
  src: local('Aura'), url('../font/70font/Aura.woff2') format('woff2');
}
@font-face {
  font-family:'WickedMouse';
  src: local('WickedMouse'), url('../font/70font/WickedMouse.ttf') format('ttf');
  src: local('WickedMouse'), url('../font/70font/WickedMouse.woff') format('woff');
  src: local('WickedMouse'), url('../font/70font/WickedMouse.woff2') format('woff2');
}

@font-face {
  font-family:'CocolaRegular';
  src: local('CocolaRegular'), url('../font/70font/CocolaRegular.ttf') format('ttf');
  src: local('CocolaRegular'), url('../font/70font/CocolaRegular.woff') format('woff');
  src: local('CocolaRegular'), url('../font/70font/CocolaRegular.woff2') format('woff2');
}

@font-face {
  font-family:'TalesofScareBlack';
  src: local('TalesofScareBlack'), url('../font/70font/TalesofScareBlack.ttf') format('ttf');
  src: local('TalesofScareBlack'), url('../font/70font/TalesofScareBlack.woff') format('woff');
  src: local('TalesofScareBlack'), url('../font/70font/TalesofScareBlack.woff2') format('woff2');
}
@font-face {
  font-family:'Landslide';
  src: local('Landslide'), url('../font/70font/Landslide.ttf') format('ttf');
  src: local('Landslide'), url('../font/70font/Landslide.woff') format('woff');
  src: local('Landslide'), url('../font/70font/Landslide.woff2') format('woff2');
}
@font-face {
  font-family:'GhostClouds';
  src: local('GhostClouds'), url('../font/70font/GhostClouds.ttf') format('ttf');
  src: local('GhostClouds'), url('../font/70font/GhostClouds.woff') format('woff');
  src: local('GhostClouds'), url('../font/70font/GhostClouds.woff2') format('woff2');
}
@font-face {
  font-family:'BingBamBoum';
  src: local('BingBamBoum'), url('../font/70font/BingBamBoum.ttf') format('ttf');
  src: local('BingBamBoum'), url('../font/70font/BingBamBoum.woff') format('woff');
  src: local('BingBamBoum'), url('../font/70font/BingBamBoum.woff2') format('woff2');
}

body{
  background-image: url("../imgs/70/sfondo celestino.png");
  background-attachment: fixed;
  background-size: cover;
  font-family:'Inkslinger BB';
  cursor: url('../imgs/70/handcursor.png') 2 2, pointer;
}

img{
  width: -webkit-fill-available;
  border: black solid 0.5vh;
  margin-bottom: 1vh;
}

.nav-link{
  font-family: 'FrightNight-Outline';
  font-size: 2.5vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.nav-link::before{
  content: "★";
  margin-right: 15px;
  font-size: 20px;
}
.navbar-brand{
  font-family:'WickedMouse';
  text-transform: uppercase;
  color: #f8221f;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
#navbar-brand{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
.nav-item{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.navbar{
  text-align: right;
  background-color: black;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 0.5vh solid;
  background-image: url("../imgs/70/sfondo bianchissimo.png");
}

.icone {
  width: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
  border:0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-right: -250px;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

p {
  padding: 1vh;
  border: black solid 0.5vh;
  background-image: url("../imgs/70/possibile sfondo fumetto.png");
}
/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#disclaimer{
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
  font-family: 'FrightNight-Outline';
}
#disclaimer::before{
  content: "★";
  margin-right: 15px;
  font-size: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 4vh;
  font-weight: bold;
  padding-left: 3vh;
  color: firebrick;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.modal-header {
  padding: 0;
  background-image: url("../imgs/70/sfondo bianco.png");
  border: 0.5vh solid;
  border-bottom: 0;
}

#disclaimertitle{
  padding: 1vh 3vh;
  font-size: 3vh;
  margin: 0;
  margin-right: -2vh;
  margin-top: -2vh;
  background-image: url("../imgs/70/sfondo giallo.png");
  border: 0.5vh solid;
}
.modal-body {
  padding: 2vh 3vh;
  font-family: Arial;
  text-align: justify;
  background-image: url("../imgs/70/sfondo bianco.png");
  border: 0.5vh solid;
  border-top: 0;
}
#modal_body{
  background-image: url("../imgs/70/sfondo petrolio.png");
  border: 0.5vh solid;
  padding: 1vh;
}
.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}
button{
  border: none;
  background-color: inherit;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}
/*fine Disclaimer */

.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

.container {
  background-image: url("../imgs/70/sfondo bianco.png");
  max-width: 168vh;
  margin-top: 13vh;
  border: black solid 1vh;
  padding: 1vh;
}

.text {
  text-align: justify;
  line-height: 1;
  font-size: 14px;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  cursor: url('../imgs/70/dito indice cursore 32.png') 2 2, pointer;
}

.article {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  height: 80vh;
  margin: auto;
  padding: 1.5vh;
  border: black solid 0.5vh;
}
figcaption{
  font-family: Arial;
}
figcaption::first-letter{
  font-size: 2vh;
  color: #C00022;
  display: block;
  float: left;
  margin: 0.04em 0.2em 0 0;
  line-height: 1;
}
.subtitle{
  font-family:'Aura';
  font-size: 4vh;
  text-align: left;
  padding: 1vh;
  color: antiquewhite;
  background-image: url("../imgs/70/sfondo arancione.png");
}

.section_heading{
  padding: 2vh;
  text-align: right;
  border: black solid 0.5vh;
  background-image: url("../imgs/70/sfondo verde.png");
}
.subsection_heading{
  font-family: 'Chantilly-Serial-Heavy-Regular';
  color: #A22428;
  font-size: 5vh;
  text-align: right;
}
#tablen1, #tablen2, #tablen3{
  font-family:'WickedMouse';
  font-size: 8vh;
}
#references2, #references3 {
  padding: 2vh;
  border: black solid 0.5vh;
  background-image: url("../imgs/70/sfondo lilla.png");
}

.articletitle {
  font-size: 4vh;
  padding: 1vh;
}

.articledate, .geoinfo, .linkandinfo {
  font-family: 'MavenPro', sans-serif;
  font-size: 3vh;
  letter-spacing: 0.5vh;
}
.articledate::before {
  content: "★";
  margin-right: 15px;
  font-size: 20px;
}

.articleauthor{
  font-family: 'SunlightScript';
  font-size: 5vh;
}
#topospeaking{
  border: 0;
}
#dolceforno, #barbie{
  margin-bottom: 1vh;
}
.articlesubtitle{
  font-family: Arial;
  text-transform: uppercase;
  position: relative;
  padding: 15px;
  margin: -1em 0 3em;
  color: #000;
  background-image: url("../imgs/70/sfondo bianchissimo.png");
  border-radius: 10px;
  border: black solid 0.5vh;
  font-size: 2vh;
}

.articlesubtitle:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  top: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #fffdf8 transparent;
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Webkit */
  -ms-transform:rotate(-180deg); /* IE */
  -o-transform:rotate(-180deg); /* Opera */
  transform:rotate(-180deg); /* future */
}

#articletitle1{
  font-family: 'Cursivestandard', sans-serif;
  font-size: 8vh;
  line-height: 6vh;
  text-align: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-bottom: 4vh;
  margin-top: 2vh;
  border: 0;
}

#articletitle2{
  font-family:'Mad Scientist W01 Regular';
  font-size: 4vh;
  text-align: center;
  border:0;
  margin: 5vh 0 2vh 0;
  background-image: url("../imgs/70/nuvolagialla2.png");
  background-size: 47vh;
  background-repeat: no-repeat;
}

#articletitle3{
  font-family:'CocolaRegular';
  text-align: center;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  padding-bottom: 10vh;
  margin-left: -1vh;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: orange;
  font-size: 4vh;
  margin-top: auto;
  background-size: 50vh;
}

#ma{
  font-family: Arial;
  font-size: 2vh;

}
#header1{
  margin:0;
  background-image: url("../imgs/70/sfondo giallo.png");
}

#header2{
  margin:0;
  background-image: url("../imgs/70/sfondo rosino.png")
}

#header3{
  margin:0;
  height: 120vh;
  background-image: url("../imgs/70/header3.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2vh;
}

#bloody{
  font-family: 'SlabsRegular';
  font-size: 18vh;
  color: #db303e;
}

#battle, #Genoa{
  font-family: 'RuinaOne-Black';
  color: #297ebf;
}


#police-brutality{
  font-family:'Landslide';
  font-size: 6vh;
  color: #BD3426;
  color: #145D8F;
  padding: 0 7vh;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-bottom: 4vh;
}

#racial-bias{
  font-family:'TalesofScareBlack';
  font-size: 6vh;
  inset-inline-end: auto;
  color: #BD3426;
  padding: -10vh;
  line-height: 12vh;
  text-transform: uppercase;
  text-align: right;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#police{
  border: 0.5vh solid;
  font-family: 'ComicStrip';
  font-size: 8vh;
  font-style: italic;
  color: #297ebf;
  background-color: #fff;
  border-radius: 82%;
  display: block;
  margin: 0px 10vh;
  text-shadow: 0 0 black;
}

#mental-disorder{
  font-family: "BingBamBoum";
  color: #db303e;
  padding: 1vh 6vh 1vh 4vh;
  font-size: 8vh;
  display: block;
  text-align: center;
}

.narrativeparagraph{
  position: relative;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: 1em;
  background-image: url("../imgs/70/sfondo giallo.png");
  font-style: italic;
}

.narrativeparagraph::first-letter {
  font-size: 8vh;
  margin: 0.04em 0.2em 0 0;
}

.narrativeparagraph::after {
  content: "  ●●●";
  font-size: 18px;
  letter-spacing: 0.6vh;
}

#vivailduce:hover {
  cursor: url('../imgs/70/dito medio cursore.png') 2 2, pointer;
}
.possiblepolygon{
  display: hidden;
}

.claim{
  font-size: 4vh;
  font-family: "PalookaBB";
}

/*bubble*/
blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
/*speech*/
blockquote.speech {
  background-image: url("../imgs/70/nuvola 2.png");
  display: -webkit-inline-box;
  font-style: italic;
  font-size: small;
  padding: 20% 20% 80% 15%;
  position: relative;
  bottom: -5vh;
}

#possibleaddfeature{
  margin-top: -5vh;
}

#angrypaperino{
  margin-bottom: 2vh;
}

#quofine{
  max-width: 15vh;
  border: 0;
  position: relative;
  top: -6vh;
  right: -30vh;
  transform: rotate(-15deg);
  margin-bottom: -8vh;
}

/* Metadata Viewer*/
#metadata{
  top: -7vh;
  right: -10vh;
  position: relative;
}
