* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:'BeVietnamPro-Regular';
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.ttf') format('ttf');
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.woff') format('woff');
  src: local('BeVietnamPro-Regular'), url('../font/dadafont/BeVietnamPro-Regular.woff2') format('woff2');
}

body{
  font-family:'BeVietnamPro-Regular';
}

.container {
  background-color: #fff;
  margin-top: 6vh;
  max-width: fit-content;
}

.text {
  text-align: justify;
  line-height: 1;
  font-size: 14px;
}

.navbar{
  color: #282828;
  text-align: right;
  cursor: pointer;
  margin-right: 0;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.icone {
    width: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
}
/* Disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 4vh;
  font-weight: bold;
  padding-right: 3vh;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0;
  background-color: #842029;
  color: white;
  text-align: left;
  display: block;
}

#disclaimertitle{
  padding: 1vh 3vh;
  font-size: 3vh;
  margin: 0;
}
.modal-body {
  padding: 2vh 3vh;
  font-family: 'BeVietnamPro-Regular';
  text-align: justify;
}

.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
}
button{
  border: none;
  background-color: inherit;
}
/*fine Disclaimer */


.hvr-bounce-in:hover{
           animation: rotate 1s linear;
       }

@keyframes rotate{
           0%{
               transform: rotate(0deg);
           }
           25%{
               transform: rotate(30deg);
           }
           50%{
               transform: rotate(-30deg);
           }
           100%{
               transform: rotate(0deg);
           }
       }

a {
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
}

.article {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
  height: 85vh;
  margin: auto;
  padding: 2em;
}
.table>:not(:first-child) {
  border-top: 0;
}
.articletitle{
  text-align: right;
}
.articleauthor, .linkandinfo{
  font-size: 2vh;
}
.articlesubtitle, .subtitle{
  font-size: 2vh;
}
#img1art1, #img1art2, #img2art2, #img3art2, #img4art2{
  min-width: -webkit-fill-available;
}
